---
## Denna er generert av salt!!!! Ikkje endra!!!! Daa vaert da braak veit eg!!!
## Denne er for elastic data noder


cluster.name: "kosekroken"
network.host: 0.0.0.0
node:
  name: {{ name }}
  data: true
  master: false
  ingest: false

discovery.zen.minimum_master_nodes: 1



discovery.zen.ping.unicast.hosts: {{ servers }}


## Disable X-Pack
xpack.security.enabled: false
xpack.monitoring.enabled: false
xpack.ml.enabled: false
xpack.watcher.enabled: false